@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #f1f5f9;
    height: 100%;
}

body {
    height: 100%;
}

#root,
#content {
    height: 100%;
    position: relative;
}

.input-box {
    position: relative;
    margin-bottom: 35px;
}

.input {
    outline: none;
    background: transparent;
    border-bottom: thin solid black;
    z-index: 1;
    padding: 0px;
    margin: 0;
}

.label {
    z-index: -10;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all .5s;
    display: flex;
    color: black;
    font: bold;
    opacity: 0;
    font-weight: bolder;
}

.input,
.label {
    margin-top: 12px;
    width: 100%;
    font-size: 1em;
    height: 40px;
}

.input:focus + .label {
    opacity: 1;
    font-size: .9em;
    top: -25px;
    pointer-events: none;
}

.input:focus,
.input:active {
    border-bottom: 3px solid green;
}

.input::placeholder {
    color: inherit;
    transition: all 1s;
}

.input:focus::placeholder {
    color: #f1f5f9
}

.input:not(:placeholder-shown) + .label {
    opacity: 1;
    font-size: .9em;
    top: -25px;
    /* pointer-events: none; */
}

.custom-shadow {
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);

}

.custom-neumorphism {
    border-radius: 50px;
    box-shadow: -20px 20px 60px #bebebe,
        20px -20px 60px #ffffff;
} 

.add-client {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url("./assets/images/wave-big.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.wave-bg{
    background-image: url("./assets/images/wave.png");
    background-repeat: no-repeat;
    background-size:cover;
}
.circle-bg{
    background-image: url("./assets/images/circle.png");
}